<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link rel="stylesheet" href="public/css/dashboardStyle.css"/>
    <script src="default.js"></script>
</head>
<body style="text-align:center; margin:0 auto;">
<!--<h1>Project I</h1>-->
<div class="v1">
    <div class="main">
        <form id="form_Exchange_rates" method="post" name="myform">

            <label><strong>Exchange rates</strong></label>
            <img src="public/images/v1.png" width="120" height="120" alt="webmaster logo"/></a>
            <input type="button" value="Open" id="change_pass" onclick="window.location = 'currency'"/>

        </form>
    </div>
</div>

<div class="v2">
    <div class="main">
        <form id="form_Weather" method="post" name="myform">
            <label><strong>Weather</strong></label>
            <img src="public/images/v2.png" width="120" height="120" alt="webmaster logo"/></a>
            <input type="button" value="Open" id="dell" onclick="window.location = 'test.html'"/>

        </form>
    </div>
</div>

<div class="v3">
    <div class="main">
        <form id="form_News" method="post" name="myform">

            <label><strong>News</strong></label>

            <img src="public/images/v3.png" width="120" height="120" alt="webmaster logo"/></a>
            <input type="button" value="Open" id="delll" onclick="window.location = 'test.html'"/>

        </form>
    </div>
</div>

<div class="v4">
    <div class="main">
        <form id="form_today_in_history" method="post" name="myform">

            <label><strong>Today in history</strong></label>

            <img src="public/images/v4.png" width="120" height="120" alt="webmaster logo"/></a>
            <input type="button" value="Open" id="dellllllll" onclick="window.location = 'TodayInHistory'"/>

        </form>
    </div>
</div>

<div class="v5">
    <div class="main">
        <form id="form_Calculator" method="post" name="myform">

            <label><strong>Calculator</strong></label>

            <img src="public/images/v5.png" width="120" height="120" alt="webmaster logo"/></a>
            <input type="button" value="Open" id="dellll" onclick="window.location = 'calculator'"/>

        </form>
    </div>
</div>

<div class="v6">
    <div class="main">
        <form id="form_todo_list" method="post" name="myform">

            <label><strong>To do list</strong></label>

            <img src="public/images/v6.png" width="120" height="120" alt="webmaster logo"/></a>
            <input type="button" value="Open" id="delllll" onclick="window.location = 'ToDoList'"/>

        </form>
    </div>
</div>

<!--<div class="v7">-->
    <!--<div class="main">-->
        <!--<form id="form_Picture album" method="post" name="myform">-->

            <!--<label><strong>Picture album</strong></label>-->

            <!--<img src="public/images/v7.png" width="120" height="120" alt="webmaster logo"/></a>-->
            <!--<input type="button" value="Open" id="dellllll" onclick="window.location = 'album'"/>-->

        <!--</form>-->
    <!--</div>-->
</div>

</body>
