<html>
<head>
    <link rel="stylesheet" href="/project/mvc/public/css/default.css"/>
    <script type="text/javascript" src="/project/mvc/public/js/jquery.js"></script>
    <script type="text/javascript" src="/project/mvc/public/js/custom.js"></script>
    <script> src="Header_Footer.js"</script>
    <?php
    if(isset($this->js))
    {
        foreach ($this->js as $js) {
            echo '<script type="text/javascript"src="' . URL .'views/'. $js . '"></script>';
        }
    }
    ?>
</head>

<?php Session::init()?>
</html>
<div id="header">
    <br />
    <?php if(Session::get('loggedIn')==false): ?>
        <a onclick="window.location.replace('/project/mvc/index');">Index</a>
        <a onclick="window.location.replace('/project/mvc/register');">Register</a>
    <?php endif; ?>
    <?php if(Session::get('loggedIn')==true): ?>
        <a onclick="window.location.replace('/project/mvc/dashboard');">Dashboard</a>
        <!--<a onclick="window.location.replace('/project/mvc/dashboard');">Settings</a>-->
        <a onclick="window.location.replace('/project/mvc/dashboard/logout')">Logout</a>
    <?php else: ?>
    <a onclick="window.location.replace('/project/mvc/login')">Login</a>
    <?php endif; ?>
</div>
<div id="content"/>