<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="public/css/album.css"/>
    <script src="album.js"></script>
</head>

<body>
<div id="pagetop">Dynamic JSON Ajax PHP Driven Image Gallery</div>
<div id="thumbnailbox"></div>
<div id="pictureframe"></div>
<div id="albummenubox">
    <h3>My Photo Albums</h3>
    <a href="#" onclick="return false" onmousedown="ajax_json_gallery('C:/Users/shani_000/Desktop/pictures')">Gallery 1</a><br>
    <a href="#" onclick="return false" onmousedown="ajax_json_gallery('gallery2')">Gallery 2</a><br>
    <a href="#" onclick="return false" onmousedown="ajax_json_gallery('gallery3')">Gallery 3</a><br>
</div>