<script src="register.js"></script>

<h1>Register</h1>
<form id="register" method="post" onsubmit="return Adduser(username.value,password.value,cpassword.value);" >
    <br /><br /><label>Username</label><input id="username" type="text" name="username" required/><br />
    <label>Password</label><input id="password" type="Password" name="password" required/><br />
    <label>Confirm Password</label><input id="cpassword" type="Password" name="cpassword" required/><br />
    <input type="submit" name="submit" value="Submit"/>
</form>